.users {
  background-color: rgb(189, 130, 130);
  color: white;
  padding: 5px 10px;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 10px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  margin-left: 15px;
}

.getUsers {
  margin: 10px;
  vertical-align: top;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.user__item {
  display: flex;
  margin-bottom: 20px;
  margin-right: 5px;
}

.about {
  margin-top: 10px;
  margin-left: 10px;
}

.pages {
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 5px;
  display: flex;
}

.pages__item {
  margin: 10px;
}

.pages {
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 5px;
  display: flex;
  color: white;
  padding: 5px 10px;
font-size: 30px;
}
